

.header-main-layt {
	@include set_size_content($sidebar_width);
	max-width:$header_width;
	height:$header_height;
}

.sidebar {
	width: $sidebar_width;
	position: fixed;
	min-height:100%;
}
//NAVIGATION
.nav_ul_pos {
	position:relative;
	margin: 220px 30px 0 30px;
}

.content {
	
	margin: 0 auto 0 $sidebar_width;
	padding:40px 60px 60px 60px;
}

footer {
	width: 100%;
	height: 50px;
}

.push-right {
	float: right;
}