section {
	margin-left: $sidebar_width;
}

.header-main-layt {
	@include set_size_content($sidebar_width);
	max-width:$header_width;
	height:$header_height;
}

.sidebar {
	width: $sidebar_width;
	position: fixed;
	min-height:100%;
}
//NAVIGATION
.nav_ul_pos {
	position:relative;
	margin: 220px 30px 0 30px;
}

.content {
	
	margin: 0 auto;
	padding:40px 60px 60px 60px;
}

footer {
	width: 100%;
	height: $foot_height;
}

.push-right {
	float: right;
}

.wrap {
	min-height: calc(100vh - #{$foot_height} ); // zmienna w funkcji calc() musi być zawarta w #{}
}