body,
.open-sans {
	font-family:'Open Sans', sans-serif;
}

.main-serif-font {
	font-family: $main-serif-font;
}
///////////////////////////////////////////////
//HEADER
///////////////////////////////////////////////

.tangerine-font{
 font-family: 'Tangerine', serif,cursive;
}


///////////////////////////////////////////////
//SIDEBAR
///////////////////////////////////////////////


.lora-font {
	font-family: 'Lora', serif;
}